@import "tailwindcss";

@font-face {
  font-family: 'Nunito';
  src: url('/font/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/font/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@theme {
  --font-family-nunito: 'Nunito', sans-serif;

  --color-neon-link: oklch(80% 0.15 200);
  --color-neon-link-hover: oklch(85% 0.2 270);

  --color-neon-blue: oklch(90% 0.2 200);
  --color-neon-mint: oklch(85% 0.27 170);
  --color-neon-coral: oklch(88% 0.30 35);
  --color-neon-purple: oklch(0.41 0.165 283.34);
  --color-dark-purple: oklch(0.25 0.1113 281.19);

  --color-border: var(--color-gray-400, currentColor);
}


@layer base {
  :root {
    h1 {
      @apply text-4xl font-bold;
    }

    h2 {
      @apply text-3xl font-bold;
    }

    h3 {
      @apply text-2xl font-bold;
    }

    h4 {
      @apply text-xl font-bold;
    }

    h5 {
      @apply text-lg font-bold;
    }

    h6 {
      @apply text-base font-bold;
    }
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }

  html {
    @apply overflow-scroll scroll-smooth font-family-nunito;
  }

  ::-webkit-scrollbar {
    @apply size-0.5 lg:size-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-lg;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }

  ::-webkit-scrollbar-button {
    @apply hidden size-0;
  }

  ::-webkit-scrollbar-corner {
    @apply hidden bg-transparent;
  }
}